.app {
  display: grid;
  grid-template: 25vh 65vh 10vh / 1fr 7fr 1fr;
}

.background {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.backgroundLeft {
  background-color: rgb(var(--medium-secondary-rgb));
}

.backgroundRight {
  background-color: rgb(var(--light-primary-rgb));
}

.header {
  align-items: center;
  display: flex;
  grid-area: 1 / 2 / 2 / 3;
  justify-content: space-between;
  padding-top: 12vh;
}

.headerLogoLink {
  align-items: flex-end;
  color: rgb(var(--light-primary-rgb));
  display: flex;
  font-size: calc(26px + 2vw);
  gap: 0.25em;
  text-decoration: none;
}

.headerLogo {
  height: 1.25em;
  width: 1.25em;
}

.headerLogotype {
  font-family: logotype;
}

.headerRight {
  align-items: center;
  display: flex;
  font-size: calc(22px + 1vw);
  gap: 2.2em;
}

.headerLink {
  color: rgb(var(--dark-primary-rgb));
  font-family: eaves-xl-san-ultra;
  position: relative;
  text-decoration: none;
}

.headerLink::before {
  bottom: -0.05em;
  content: "";
  height: 0.5em;
  left: -0.25em;
  position: absolute;
  width: 0.5em;
}

.headerActiveLink::before {
  border-bottom: rgba(var(--dark-primary-rgb), 0.8) solid 0.125em;
  border-left: rgba(var(--dark-primary-rgb), 0.8) solid 0.125em;
}

.headerThemeToggle {
  height: 3em;
  width: 3em;
}

.main {
  grid-area: 2 / 2 / 3 / 3;
  overflow: clip;
  position: relative;
}

.page {
  position: absolute;
}

.pageEnter {
  transform: translateX(90vw);
}

.pageEnterActive {
  transform: translateX(0vw);
  transition: transform 1500ms;
}

.pageExit {
  transform: translateX(0vw);
}

.pageExitActive {
  transform: translateX(-90vw);
  transition: transform 1500ms;
}

.footer {
  align-items: center;
  display: flex;
  font-size: calc(10px + 0.5vw);
  grid-area: 3 / 2 / 4 / 3;
  justify-content: space-between;
  padding-bottom: 5vh;
}

.footerLeft {
  align-items: flex-end;
  color: rgb(var(--dark-secondary-rgb));
  display: flex;
  font-family: acumin-light;
  gap: 1em;
}

.footerTextLink {
  background-color: rgb(var(--dark-secondary-rgb));
  border-radius: 0.2em;
  color: rgb(var(--light-secondary-rgb));
  font-family: monolisa-thin;
  font-size: 0.7em;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

.footerRight {
  display: flex;
  gap: 2em;
}

.footerIconLink {
  height: 2.2em;
  width: 2.2em;
}
