.notFound {
  background-color: rgb(var(--dark-primary-rgb));
}

.notFoundMessage {
  color: rgb(var(--light-primary-rgb));
}

.notFoundMessageLarge {
  color: rgb(var(--light-secondary-rgb));
}

.notFoundLink {
  background-color: rgb(var(--dark-secondary-rgb));
  border: rgb(var(--light-primary-rgb)) 0.2em solid;
  color: rgb(var(--light-primary-rgb));
}
