.component {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.showcaseCards {
  display: flex;
  flex-direction: column;
  gap: calc(25px + 5vh);
  padding: 5vh 5vw 15vh 0;
}

.showcaseContainer {
  -moz-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  -webkit-transform: translateZ(1px);
  align-items: center;
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  color: rgb(var(--light-primary-rgb));
  column-gap: 2em;
  display: grid;
  font-size: calc(12px + 0.5vw);
  grid-template-columns: 1fr 1fr;
  padding: 1.5em 2em 1.5em 0;
  scroll-margin-top: 25vh;
  transform: translateZ(1px);
}

.showcaseImg {
  width: 100%;
}

.showcaseRightSection {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.showcaseLabel {
  font-family: monolisa-light;
  font-size: calc(10px + 0.5vw);
}

.showcaseTitle {
  font-family: eaves-xl-mod-ultra;
  font-size: calc(26px + 0.5vw);
}

.showcaseDescription {
  font-family: acumin-light;
}

.showcaseSkills {
  display: flex;
  flex-wrap: wrap;
  font-size: calc(8px + 0.25vw);
  gap: 0.6em;
}

.showcaseSkillContainer {
  background-color: rgba(var(--light-primary-rgb), 0.9);
  border-radius: 0.2em;
  color: rgb(var(--dark-primary-rgb));
  font-family: monolisa-light;
  letter-spacing: -0.025em;
  padding: 0.2em 0.5em;
}

.showcaseLinks {
  display: flex;
  font-size: calc(8px + 0.75vw);
  gap: 1em;
  margin-top: 2em;
}

.showcaseLink {
  border: 0.25em solid rgb(var(--accent-rgb));
  border-radius: 0.35em;
  color: rgb(var(--accent-rgb));
  flex: 1;
  font-family: eaves-xl-san-heavy;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
}

.sideBar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  height: 40vh;
  justify-content: center;
  left: calc(200vw / 3);
  padding-left: 1vw;
  position: fixed;
}

.sideBarBtn {
  background-color: rgb(var(--dark-secondary-rgb));
  border: none;
  border-radius: 0.2em;
  color: rgb(var(--light-primary-rgb));
  font-family: monolisa-black;
  font-size: calc(8px + 0.5vw);
  padding: 0.25em 0.5em;
}
