.body {
  background-color: rgb(var(--dark-primary-rgb));
  min-width: 320px;
}

.header {
  align-items: center;
  background-color: rgb(var(--dark-primary-rgb));
  display: flex;
  font-size: calc(16px + 1vw);
  justify-content: space-between;
  padding: max(25px, 5vw);
  position: sticky;
  top: 0;
  z-index: 1;
}

.headerLeft {
  height: 2.5em;
  width: 2.5em;
}

.headerRight {
  align-items: center;
  display: flex;
  gap: max(10px, 5vw);
}

.link {
  color: rgb(var(--light-primary-rgb));
  font-family: eaves-xl-mod-ultra;
  text-decoration: none;
}

.themeToggle {
  height: 3.5em;
  width: 3.5em;
}

.home {
  background-color: rgb(var(--dark-primary-rgb));
  min-height: max(500px, 80vh);
  overflow-x: clip;
  position: relative;
}

.taglineWrapper {
  align-items: center;
  display: flex;
  min-height: max(500px, 80vh);
  padding: 0 max(25px, 5vw) calc(250px + 8vh) max(25px, 5vw);
}

.taglineBase {
  color: rgb(var(--light-primary-rgb));
  font-family: eaves-xl-mod-regular;
  font-size: calc(10px + 2vw);
}

.taglinePrimary {
  color: rgb(var(--accent-rgb));
  font-family: eaves-xl-san-heavy;
  font-size: calc(36px + 5vw);
}

.taglineSecondary {
  color: rgb(var(--light-secondary-rgb));
  font-family: eaves-xl-san-heavy;
  font-size: calc(12px + 5vw);
}

.taglineTertiary {
  font-family: eaves-xl-san-heavy;
  font-size: calc(12px + 3vw);
}

.deskIllustration {
  bottom: 0;
  left: calc((100vw - 375px - 12vh) / 2);
  position: absolute;
  width: calc(375px + 12vh);
}

.avatar {
  -webkit-user-select: none;
  bottom: -5px;
  left: 55vw;
  position: absolute;
  user-select: none;
  width: calc(125px + 4vh);
}

.showcase,
.me {
  min-height: 80vh;
}

.showcase {
  background-color: rgb(var(--dark-secondary-rgb));
}

.me {
  background-color: rgb(var(--dark-primary-rgb));
}

.footer {
  background-color: rgb(var(--dark-primary-rgb));
  min-height: 10vh;
}

.targetOffset:target {
  scroll-margin-top: calc(60px + 6.5vw);
}
