.headerBackground {
  background-color: rgb(var(--dark-primary-rgb));
}

.contentBackground {
  background-color: rgb(8, 16, 21);
}

.subheading {
  color: rgb(8, 16, 21);
}

.toolboxSubheadingContent {
  background-color: rgb(8, 16, 21);
}
