.component {
  --header-font-size: calc(26px + 2vw);
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
}

.leftSection {
  margin-left: 11vw;
}

.headerBackground,
.header {
  position: fixed;
  z-index: 1;
}

.headerBackground {
  height: calc(var(--header-font-size) * 1.75);
  width: calc(100% / 3 * 2 - 11vw);
}

.header {
  align-items: flex-end;
  display: flex;
  font-size: var(--header-font-size);
  gap: 0.25em;
}

.profilePhoto {
  height: 2em;
  width: 2em;
}

.mainHeading {
  -webkit-text-stroke: 0.05em rgb(var(--light-primary-rgb));
  color: rgb(var(--light-secondary-rgb));
  font-family: eaves-xl-mod-ultra;
}

.contentBackground {
  border-bottom-left-radius: calc(0.2 * var(--header-font-size));
  height: 65vh;
  position: fixed;
  width: calc(100% / 3 * 2 - 11vw);
}

.content {
  color: rgb(var(--light-primary-rgb));
  font-size: calc(10px + 1vw);
  padding: 5% 5% calc(5% + 10vh) 5%;
  position: relative;
  top: calc(2 * var(--header-font-size));
}

.tagline {
  font-family: acumin-semibold;
  margin: 1em 0 4em 0;
}

.subsections {
  display: flex;
  flex-direction: column;
  gap: 4.5em;
  margin: 2.5em 0 2.5em;
}

.subheading {
  background-color: rgb(var(--light-primary-rgb));
  display: inline-block;
  font-family: monolisa-black;
  font-size: 0.8em;
  padding: 0.1em 1em;
}

.subheadingDecoration {
  border-color: rgb(var(--light-primary-rgb)) transparent transparent
    transparent;
  border-style: solid;
  border-width: 0.6em 0.5em 0 0;
  margin-bottom: 1em;
  width: 0px;
}

.toolboxSubsections {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  padding: 0 1em 0 0.5em;
}

.toolboxSubheading {
  border-bottom: 0.02em solid rgb(var(--light-primary-rgb));
  font-family: monolisa-thin;
  font-size: 0.75em;
  line-height: 0.1;
  margin: 1em 0 2em 0;
}

.toolboxSubheadingContent {
  padding-right: 0.5em;
}

.toolboxToolList {
  display: grid;
  font-size: calc(10px + 0.75vw);
  grid-template-columns: repeat(5, 1fr);
  row-gap: 1em;
}

.tool {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.toolIcon,
.hobbyIcon {
  color: rgb(var(--light-secondary-rgb));
}

.toolIcon {
  height: 3em;
  width: 3em;
}

.toolText {
  font-family: acumin-extralight;
}

.hobbies {
  column-gap: 2%;
  display: grid;
  font-size: calc(10px + 0.75vw);
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2.5em;
}

.hobby {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.hobbyIcon {
  height: 4em;
  width: 4em;
}

.hobbyText {
  font-family: acumin-extralight;
}

.resumeBtn {
  background-color: rgb(var(--accent-rgb));
  border: rgb(var(--dark-primary-rgb)) solid 0.2em;
  border-radius: 2.5em;
  color: rgb(var(--dark-primary-rgb));
  font-family: eaves-xl-san-heavy;
  font-size: calc(12px + 1vw);
  margin-left: 5%;
  margin-top: 10%;
  padding: 0.5em 2em;
  position: fixed;
  text-align: center;
  text-decoration: none;
}
