.headerBackground {
  background-color: rgb(var(--medium-secondary-rgb));
}

.contentBackground {
  background-color: rgb(var(--dark-primary-rgb));
}

.subheading {
  color: rgb(var(--dark-primary-rgb));
}

.toolboxSubheadingContent {
  background-color: rgb(var(--dark-primary-rgb));
}
