.body {
  background-color: rgb(var(--dark-primary-rgb));
}

.header {
  background-color: rgb(var(--dark-primary-rgb));
  border-right: solid 0.2em rgb(var(--light-primary-rgb));
}

.logoLink,
.textLink {
  color: rgb(var(--light-primary-rgb));
}

.home {
  background-color: rgb(var(--dark-primary-rgb));
}

.taglineBase {
  color: rgb(var(--light-primary-rgb));
}

.taglineSecondary {
  color: rgb(var(--light-secondary-rgb));
}

.showcase {
  background-color: rgb(var(--dark-secondary-rgb));
}

.showcaseContainer {
  background-color: rgb(var(--dark-primary-rgb));
}

.me {
  background-color: rgb(var(--dark-primary-rgb));
  color: rgb(var(--light-primary-rgb));
}

.meResumeBtn {
  background-color: rgb(247, 173, 25);
  border: rgb(var(--light-primary-rgb)) solid 0.2em;
  color: rgb(var(--light-primary-rgb));
}

.meLink,
.meToolIcon,
.meHobbyIcon {
  color: rgb(var(--light-secondary-rgb));
}

.meSubheading {
  background-color: rgb(var(--light-primary-rgb));
  color: rgb(var(--dark-primary-rgb));
}

.meSubheadingDecoration {
  border-color: rgb(var(--light-primary-rgb)) transparent transparent
    transparent;
}

.meToolboxSubheading {
  border-bottom: 0.02em solid rgb(var(--light-primary-rgb));
}

.meToolboxSubheadingContent {
  background-color: rgb(var(--dark-primary-rgb));
}

.footer {
  background-color: rgb(var(--dark-primary-rgb));
  border-top: rgb(var(--dark-secondary-rgb)) solid 0.05em;
  color: rgb(var(--dark-secondary-rgb));
}

.footerLink {
  border: rgb(var(--dark-secondary-rgb)) solid 0.075em;
  color: rgb(var(--dark-secondary-rgb));
}
