.body {
  background-color: rgb(var(--light-primary-rgb));
}

.header {
  background-color: rgb(var(--light-primary-rgb));
  border-right: solid 0.2em rgb(var(--dark-primary-rgb));
}

.textLink {
  color: rgb(var(--dark-primary-rgb));
}

.home {
  background-color: rgb(var(--light-primary-rgb));
}

.taglineBase {
  color: rgb(var(--dark-primary-rgb));
}

.taglineSecondary {
  color: rgb(var(--dark-secondary-rgb));
}

.showcase {
  background-color: rgb(var(--medium-secondary-rgb));
}

.showcaseContainer {
  background-color: rgb(var(--dark-secondary-rgb));
}

.me {
  background-color: rgb(var(--light-primary-rgb));
  color: rgb(var(--dark-primary-rgb));
}

.meResumeBtn {
  background-color: rgb(var(--accent-rgb));
  border: rgb(var(--dark-primary-rgb)) solid 0.2em;
  color: rgb(var(--dark-primary-rgb));
}

.meSubheading {
  background-color: rgb(var(--dark-primary-rgb));
  color: rgb(var(--light-primary-rgb));
}

.meSubheadingDecoration {
  border-color: rgb(var(--dark-primary-rgb)) transparent transparent transparent;
}

.meToolboxSubheading {
  border-bottom: 0.02em solid rgb(var(--dark-primary-rgb));
}

.meToolboxSubheadingContent {
  background-color: rgb(var(--light-primary-rgb));
}

.footer {
  background-color: rgb(var(--light-primary-rgb));
  border-top: rgb(var(--medium-secondary-rgb)) solid 0.05em;
  color: rgb(var(--medium-secondary-rgb));
}

.footerLink {
  border: rgb(var(--medium-secondary-rgb)) solid 0.075em;
  color: rgb(var(--medium-secondary-rgb));
}
